h1 {
  font-size: 50px;
  text-align: center;
}

.allTasks {
  margin-right: 5%;
}

.member {
  background-color: white;
  margin: 2%;
  border: 2px solid black;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-top: 0px;
}

.oneTask {
  margin: 5%;
  width: 95%;
}

.taskContent {
  border: 4px solid black;
  margin-bottom: 5px;
  padding: 3%;
  border-radius: 4px;
}

.taskContent.done {
  border: 5px solid #b6ff00;
}

.taskContent.expired {
  border: 5px solid red;
}

.assignee {
  margin-top: 6px;
}

.select {
  width: 100%;
}

.chooseDate {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-inline-start: 10%;
  margin-inline-end: 5%;
}

.prevButton {
  background-color: #f1f1f1;
  color: black;
  margin-right: 10px;
  border-radius: 60%;
  border: 1px solid #f1f1f1;
  font-size: 18pt;
  font-weight: bold;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.nextButton {
  background-color: #f1f1f1;
  color: black;
  margin-left: 10px;
  border-radius: 60%;
  border: 1px solid #f1f1f1;
  font-size: 18pt;
  font-weight: bold;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
}
