<<<<<<< HEAD
.taskContentWrap {
  padding: 1rem;
}

.taskContent {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.taskContent.done {
  /* background-color: rgba(0, 100, 0, 0.7); */
}

.taskContent.expired {
  opacity: 0.5;
}

.taskContentTitle {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0.4rem;
  text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
}

.taskContentCreateBy {
  opacity: 0.7;
  margin-bottom: 0.4rem;
}

.taskContentCreateBy span {
  display: inline-block;
  margin: 0 0.4rem 0.4rem;
}

.taskContentPIC {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 1rem;
  padding-top: 0.4rem;
}

.taskContentPICMembers {
  margin: 0 -0.4rem;
=======
h1 {
  font-size: 50px;
  text-align: center;
}

.allTasks {
  margin-right: 5%;
}

.member {
  background-color: white;
  margin: 2%;
  border: 2px solid black;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-top: 0px;
}

.oneTask {
  margin: 5%;
  width: 95%;
}

.taskContent {
  border: 4px solid black;
  margin-bottom: 5px;
  padding: 3%;
  border-radius: 4px;
}

.taskContent.done {
  border: 5px solid #b6ff00;
}

.taskContent.expired {
  border: 5px solid red;
}

.assignee {
  margin-top: 6px;
}

.select {
  width: 100%;
}

.chooseDate {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-inline-start: 10%;
  margin-inline-end: 5%;
}

.prevButton {
  background-color: #f1f1f1;
  color: black;
  margin-right: 10px;
  border-radius: 60%;
  border: 1px solid #f1f1f1;
  font-size: 18pt;
  font-weight: bold;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.nextButton {
  background-color: #f1f1f1;
  color: black;
  margin-left: 10px;
  border-radius: 60%;
  border: 1px solid #f1f1f1;
  font-size: 18pt;
  font-weight: bold;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
>>>>>>> addStyle
}

.taskContentPICMember {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin: 0.4rem;
  border-radius: 0.4rem;
}