.taskContentWrap {
  padding: 1rem;
}

.taskContent {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.taskContent.done {
  /* background-color: rgba(28, 146, 28, 0.7); */
}

.taskContent.expired {
  opacity: 0.5;
}

.taskContentTitle {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0.4rem;
  text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
}

.taskContentCreateBy {
  opacity: 0.7;
  margin-bottom: 0.4rem;
}

.taskContentCreateBy span {
  display: inline-block;
  margin: 0 0.4rem 0.4rem;
}

.taskContentPIC {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 1rem;
  padding-top: 0.4rem;
}

.taskContentPICMembers {
  margin: 0 -0.4rem;
}

.taskContentPICMember {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin: 0.4rem;
  border-radius: 0.4rem;
}

.chooseDate {
  display: flex;
  margin: 0.5rem 1rem;
}

.select {
  width: 100%;
  color: black;
}

.prevButton {
  background-color: unset;
  color: white;
  margin-right: 10px;
  border-radius: 40%;
  border: unset;
  font-size: 20pt;
  font-weight: bold;
  padding: 0.1rem 0.9rem;
  height: 2.7rem;
}

.nextButton {
  background-color: unset;
  color: white;
  margin-left: 10px;
  border-radius: 40%;
  border: unset;
  font-size: 20pt;
  font-size-adjust: initial;
  font-weight: bold;
  padding: 0.1rem 0.9rem;
  height: 2.7rem;
}

.groupScore {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.6rem;
}
