.progressBar {
  background-color: gray;
  margin-bottom: 1.2rem;
  border-radius: 1rem;
  margin-left: 3%;
  margin-right: 3%;
}

.progressBar-Bar {
  background-color: #32cd32;
  border-radius: 1rem;
}

.progressBar-label {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0.3rem;
}
