.editModalButton {
  margin-right: 2%;
}

.deleteText {
  margin-bottom: 15px;
  font-size: 20pt;
}

.deleteTitle {
  color: #ff6a6a;
}

.editdeleteButton {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
}

.checkDone {
  height: 15pt;
  width: 15pt;
}

.checkboxContainer {
  margin-left: 15px;
  position: relative;
  margin-top: 10%;
}

.Modal {
  position: relative;
  padding: 1.2rem;
  background: #ffffff;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.Overlay {
  width: 100%;
  position: fixed;
}

.yesButton {
  background-color: #4caf50;
  margin-right: 5px;
  border-radius: 4px;
  margin-top: 10px;
  border: none;
  padding: 8px 14px;
  color: white;
}

.yesButton:disabled {
  background-color: rgb(78, 82, 78);
  margin-right: 5px;
  border-radius: 4px;
  margin-top: 10px;
  border: none;
  padding: 8px 14px;
  color: white;
}

.noButton {
  background-color: #f44336;
  margin-right: 5px;
  border-radius: 4px;
  margin-top: 10px;
  border: none;
  padding: 8px 14px;
  color: white;
}

.yesdeleteButton {
  background-color: #f44336;
  margin-right: 5px;
  border-radius: 4px;
  margin-top: 10px;
  border: none;
  padding: 8px 14px;
  color: white;
}

.nodeleteButton {
  background-color: gray;
  margin-right: 5px;
  border-radius: 4px;
  margin-top: 10px;
  border: none;
  padding: 8px 14px;
  color: white;
}

.yourListTable {
  border-collapse: collapse;
  width: 100%;
  overflow: "auto";
  display: flex;
  flex-wrap: row wrap;
  font-size: 15pt;
}

.yourListTable td {
  text-align: left;
  padding: 10px;
  width: 100%;
}

.eachTask {
  border-bottom: 1px solid #ddd;
  font-size: 1.3em;
}

.time {
  color: silver;
  padding-left: 3%;
  margin-bottom: 10px;
  font-size: 0.7em;
}

.tableBody {
  width: 100%;
}

.form {
  width: 100%;
}

.form input {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 1);
}
.form input:focus {
  outline: 0;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.myDatePicker,
.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}
